[submodule "third-party/mvfst"]
	path = third-party/mvfst
	url = https://github.com/facebookincubator/mvfst
[submodule "third-party/grpc"]
	path = third-party/grpc
	url = https://github.com/grpc/grpc
